<!-- all-posts.handlebars -->
<h1>All Posts</h1>


{{#each posts}}
  <div class="post">
    <h3><a href="{{this.id}}">{{this.title }}</a></h3><a href="/profile/{{this.userId}}">{{ this.user.username }}</a>
    <p>{{this.post_contents }}</p>
    <p>Author: {{ this.user.username }}</p>
  </div>
{{/each}}

