<div class="text-center">
  <p>{{comment.comment_content}}</p>
  <p> by {{user.name}} on {{dateCreated}}</p>
  <p>
    <button data-id="{{this.id}}" data-postid="{{post.id}}">Delete</button>
  </p>
</div>
