 <h3>{{post.title}}</h3>
 <p>{{post.content}}</p>
 <p>Posted by: {{post.user.name}}</p>
    <ul class="collection" id="comments-list">
      {{#each comments}}
        <li class="collection-item avatar">
          <span class="title"><strong>{{User.username}}</strong></span>
          <p>comment content: {{this.comment_content}}</p>
          <p class="secondary-content">{{this.dateCreated}}</p>
        </li>
      {{/each}}
    </ul>

<h4>Comments</h4>
<ul>
  {{#each post.comments}}
    <li>
      <p>{{this.comment_content}}</p>
      <p>Commented by: {{this.user.name}}</p>
    </li>
  {{/each}}

</div>
<h5>Write a Comment...</h5>
<h5>Write a Comment...</h5>
<form id="add-comment-form" data-post-id="{{post.id}}" method="POST">
  <div class="input-field">
    <textarea id="comment-content" name="content" class="materialize-textarea" required></textarea>
    <label for="comment-content">Your Comment</label>
  </div>

  <button type="submit" class="btn waves-effect waves-light" id="commentBtn">Add Comment</button>
</form>

<script src="/js/add-comment.js"></script>
