<div class="text-center">
  <h5>Comments</h5>
  {{#each allcomments as |comment|}}
  <a href="/comments/{{comment.id}}">
    <p>{{comment.comment_content}}</p>
    <p> by {{comment.user.name}} on {{formatDate comment.dateCreated}}</p>
  </a>
  <hr>
  {{/each}}
</div>
<h5>Write a Comment...</h5>
<h5>Write a Comment...</h5>
<form id="add-comment-form" data-post-id="{{post.id}}" method="POST">
  <div class="input-field">
    <textarea id="comment-content" name="content" class="materialize-textarea" required></textarea>
    <label for="comment-content">Your Comment</label>
  </div>
  <button type="submit" class="btn waves-effect waves-light" id="commentBtn">Add Comment</button>
</form>
<a href="/posts">back</a> 
<script src="/js/add-comment.js"></script>
